.form-background {
  background-image: var(--primary-background);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

.form-container {
  width: 100vw;
  height: 100vh;
}
